.fifth-black-section {
  margin: 100px;
  height: 400px;
  background: #000000;
  border-radius: 10px;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 80px;
}

.fifth-black-section h1 {
    font-weight: bold;
font-size: 48px;
}

.fifth-black-section button {
    width: 184px;
height: 50px;
background: #FF4359;
border-radius: 5px;
border: none;
color: #fff;
font-size: 18px;
font-weight: 600px;
}
