.fourth-black-section {
  padding: 100px 100px;
  background-color: black;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.fourth-black-section h1 {
  font-weight: bold;
  font-size: 48px;
}

.fourth-black-section p {
  font-size: 18px;
  color: #c4c4c4;
  font-weight: 300;
}

.fourth-black-section .card-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 80px;
  margin-top: 50px;
}

.fourth-black-section .card-container .card {
  width: 500px;
  height: 250px;
  background: linear-gradient(104.04deg, #ff8a25 0%, #ffd75f 100%);
  border-radius: 10px;
  position: relative;
}

.fourth-black-section .card-container .card .box {
  width: 500px;
  height: 250px;
  border-radius: 10px;
  background-color: #fff;
  position: absolute;
  left: 20px;
  top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 36px;
}

.fourth-black-section .card-container .card .box .title {
  background: linear-gradient(104.04deg, #ff8a25 0%, #ffd75f 100%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 600;
  font-size: 30px;
}

.fourth-black-section .card-container .card .box p {
  font-weight: 300;
  font-size: 18px;
  color: #000;
  text-align: center;
}

.fourth-black-section .card-container .card2 {
    background: linear-gradient(104.04deg, #0078FF 0%, #00ECC2 100%);
}

.fourth-black-section .card-container .title2 {
    background: linear-gradient(104.04deg, #0078FF 0%, #00ECC2 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 600;
    font-size: 30px;
}

.fourth-black-section .card-container .card3 {
    background: linear-gradient(104.55deg, #00ECC2 0%, #FFD75F 104.82%);}

.fourth-black-section .card-container .title3 {
    background: linear-gradient(104.55deg, #00ECC2 0%, #FFD75F 104.82%);    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 600;
    font-size: 30px;
}

.fourth-black-section .card-container .card4 {
    background: linear-gradient(104.04deg, #FF4359 0%, #FF8A25 100%);}

.fourth-black-section .card-container .title4 {
    background: linear-gradient(104.04deg, #FF4359 0%, #FF8A25 100%);    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 600;
    font-size: 30px;
}