nav {
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 40px;
  position: fixed;
  top: 0;
  width: 100%;
  background: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(20px);
  z-index: 1000;
}

nav .logo-container {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 19px;
  font-weight: 600;
  background-color: transparent;
}

.logo-container img {
  width: 72.71px;
  height: 35px;
  margin-right: 10px;
}

nav .navigation-section button {
  border: none;
  color: #404040;
  font-size: 18px;
  margin: 0px 20px;
  background-color: transparent;
}

nav .login-links button {
  border: none;
  color: #000000;
  font-size: 18px;
  font-weight: 500;
  background-color: transparent;
  margin: 0px 10px;
}
