.second-black-section {
    background: #000000;
    padding: 100px 100px;
    font-size: 48px;
    font-weight: bold;
    color: #fff;
  }
  
  .second-black-section p:nth-child(1) {
      width: 100%;
      background: linear-gradient(to right, #0078FF 0%, #00ECC2 24%, #FFD75F 50%, #FF8A25 75%, #FF4359 100%);
      background-clip: text;
      -webkit-text-fill-color: transparent;
  }
  
  .second-black-section p:nth-child(3) {
      width: 70%;
      margin-top: 60px;
      background: linear-gradient(to right, #0078FF 0%, #00ECC2 24%, #FFD75F 50%, #FF8A25 75%, #FF4359 100%);
      background-clip: text;
      -webkit-text-fill-color: transparent;
  }
  