.third-black-section {
  padding: 100px 150px;
  background-color: black;
  display: flex;
  flex-direction: column;
}

.third-black-section h4 {
  font-weight: bold;
  font-size: 48px;
  color: #fff;
  align-self: center;
}

.third-black-section p {
  color: #c4c4c4;
  font-size: 18px;
  font-weight: 300;
  align-self: center;
}

.third-black-section .card-container {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}

.third-black-section .card-container .card {
  width: 241px;
  height: 118px;
  border-radius: 10px;
  position: relative;
  background: linear-gradient(104.04deg, #ff4359 0%, #ff8a25 100%);
  filter: drop-shadow(0px 4px 25px rgba(0, 0, 0, 0.1));
}

.third-black-section .card-container .card .title {
  background: linear-gradient(to right, #ff4359 0%, #ff8a25 100%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 600;
  font-size: 18px;
}

.third-black-section .card-container .box {
  width: 241px;
  height: 118px;
  position: absolute;
  background-color: #fff;
  left: 8px;
  top: 7px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.third-black-section .card-container .box p {
  font-weight: 300;
  font-size: 12px;
  color: #000000;
  margin-top: 10px;
}

.third-black-section .card-container .card2 {
  background: linear-gradient(104.04deg, #ff8a25 0%, #ffd75f 100%);
}

.third-black-section .card-container .card2 .title1 {
  background: linear-gradient(to right, #ff8a25 0%, #ffd75f 100%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 600;
  font-size: 18px;
}

.third-black-section .card-container .card3 {
  background: linear-gradient(104.04deg, #ffd75f 0%, #d9ff43 100%);
}

.third-black-section .card-container .card3 .title2 {
  background: linear-gradient(to right, #ffd75f 0%, #d9ff43 100%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 600;
  font-size: 18px;
}

.third-black-section .card-container .card4 {
  background: linear-gradient(104.04deg, #ff4359 0%, #ff43ca 100%);
}

.third-black-section .card-container .card4 .title3 {
  background: linear-gradient(104.04deg, #ff4359 0%, #ff43ca 100%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 600;
  font-size: 18px;
}

.third-black-section .card-container .card5 {
  background: linear-gradient(104.04deg, #d9ff43 0%, #00ecc2 100%);
}

.third-black-section .card-container .card5 .title4 {
  background: linear-gradient(104.04deg, #d9ff43 0%, #00ecc2 100%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 600;
  font-size: 18px;
}

.third-black-section .card-container .card6 {
  background: linear-gradient(104.04deg, #ff43ca 0%, #8a43ff 100%);
}

.third-black-section .card-container .card6 .title5 {
  background: linear-gradient(104.04deg, #ff43ca 0%, #8a43ff 100%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 600;
  font-size: 18px;
}

.third-black-section .card-container .card7 {
  background: linear-gradient(104.04deg, #8a43ff 0%, #0078ff 100%);
}

.third-black-section .card-container .card7 .title6 {
  background: linear-gradient(104.04deg, #8a43ff 0%, #0078ff 100%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 600;
  font-size: 18px;
}

.third-black-section .card-container .card8 {
  background: linear-gradient(104.04deg, #0078ff 0%, #00ecc2 100%);
}

.third-black-section .card-container .card8 .title7 {
  background: linear-gradient(104.04deg, #0078ff 0%, #00ecc2 100%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 600;
  font-size: 18px;
}
