.world-of-creator {
  padding: 100px 80px;
}

.world-of-creator .head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.world-of-creator .head h1 {
  font-weight: bold;
  font-size: 48px;
}

.world-of-creator .head button {
  width: 121px;
  height: 39px;
  border: 0.5px solid #808080;
  border-radius: 5px;
  background-color: #fff;
  font-weight: 500;
  font-size: 14px;
}

.world-of-creator .blogs {
  margin-top: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.world-of-creator .blogs .part1 .image-container {
  width: 500px;
  height: 300px;
  position: relative;
}

.world-of-creator .blogs .part1 .image-container .box {
  width: 500px;
  height: 300px;
  background: linear-gradient(104.04deg, #ff8a25 0%, #ffd75f 100%);
  border-radius: 10px;
  position: absolute;
  top: -15px;
  left: -15px;
  z-index: -1;
}

.world-of-creator .blogs .part1 .image-container img {
  width: 500px;
  height: 300px;
  border-radius: 10px;
}

.world-of-creator .blogs .part1 h3 {
  width: 500px;
  margin-top: 5px;
  font-weight: 500;
  font-size: 24px;
  color: #101010;
}

.world-of-creator .blogs .part1 p {
  width: 500px;
  margin-top: 15px;
  font-size: 18px;
  color: #404040;
}

.world-of-creator .blogs .part1 span {
  display: block;
  font-size: 16px;
  color: #808080;
  margin-top: 20px;
}

.world-of-creator .blogs .part2 {
  width: 500px;
}

.world-of-creator .blogs .part2 .card {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.world-of-creator .blogs .part2 .card .info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-right: 20px;
}

.world-of-creator .blogs .part2 img {
  width: 224px;
  height: auto;
  border-radius: 10px;
}

.world-of-creator .blogs .part2 p {
  font-weight: 500;
  font-size: 20px;
  color: #101010;
}

.world-of-creator .blogs .part2 span {
  font-size: 16px;
  color: #808080;
}
